
.header {
  background: #d9d9d903;
}

.header__inner {
  display: flex;
  justify-content: space-between;
}


.header__logo {
  display: block;
  max-width: 155px;
  margin: 30px 0 115px;
}

.header__subtitle {
  margin-bottom: 37px;
}

.header__text {
  font-family: 'SUSE';
  font-size: 20px;
  line-height: 25px;
  max-width: 520px;
  margin-bottom: 70px;
}

.header__title {
  max-width: 520px;
  margin-bottom: 52px;
  font-size: 73px;
  line-height: 81px;
  font-family: 'GothamBlack';
}

.header__title span {
  color: var(--brown-text);
}

.header__content {
  position: relative;
  height: 850px;
  width: 650px;
  background: url(../img/header-hero/hero-girl.png) 100% 100% / cover;
  display: flex;
  flex-direction: column;
  justify-content: end;
}


.header__burger {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  min-height: 130px;
  border-radius: 0px 0px 90px 90px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.13);
  background: var(--brown-text);
  transition: var(--transition);
}

.header__burger:hover {
  background: var(--hover-effect);
}

.header__burger span {
  width: 45px;
  height: 4px;
  border-radius: 60px;
  background: var(--accent-color);
  position: relative;
}



.header__burger span::before {
  position: absolute;
  right: 0px;
  top: 15px;
  width: 28px;
  height: 4px;
}

.header__burger span::after {
  position: absolute;
  right: 17px;
  top: -15px;
  width: 28px;
  height: 4px;
}

.header__burger span::before,
.header__burger span::after {
  content: '';
  border-radius: 60px;
  background: var(--accent-color);
}


.header__contact {
  background: var(--brown-text);
  display: flex;
  align-items: center;
  gap: 20px;
  max-width: 641px;
  min-height: 81px;
  border-radius: 20px 60px 0px 0px;
}



.header__tel {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 114px;
  height: 81px;
  border-radius: 20px 20px 160px 0px;
  background: var(--hover-effect);
  transition: var(--transition);
}

.header__tel:hover {
  background: #7c6a5a ;
}



.header__num {
  color: var(--accent-color);
  font-family: 'GothamBlack';
  font-size: 20px;
  font-weight: 900;
  line-height: 1px;
  letter-spacing: 0.23em;
}

.header__num span {
  color: var(--accent-color);
  font-family: 'SUSE';
  font-size: 20px;
  font-weight: 500;
  line-height: 0px;
  letter-spacing: .23em;
}