


.body {
    font-family:'Gotham-Black', 'SUSE', 'Arial', sans-serif;
    background: #000;
}



.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.no-scroll {
    overflow-y: hidden;
}

.container {
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.main {
    flex-grow: 1;
}

.title {
    font-family: 'Gotham';
    color: #fff;
font-size: 73px;
line-height: 81px;
}